:root{
  --active-color:hsl(220, 98%, 61%);
  --seconary-color:#181824;
  --text-color:white;
  --check:linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --task-color:#25273c;
  --dark-blue:hsl(235, 21%, 11%);



}
